body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#brand {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
}

.typewriter {
    margin-top: 50px; /* Adjust as needed */
    font-family: 'GraffitiFont', Arial, sans-serif; /* Use your graffiti font */
    font-size: 2rem;
    color: #fff;
}

.typewriter-text {
    overflow: hidden; /* Ensures the text is not visible initially */
    border-right: .15em solid white; /* Creates the typewriter cursor effect */
    white-space: nowrap; /* Keeps the text on one line */
    animation: typewriter 4s steps(40) infinite; /* Adjust timing and steps as needed */
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

footer {
    width: 100%;
}
